.first{
    text-align: center;
    border: 1px;
    color: white;
    background-color: black;
    margin-top: 100px;
    
}
.b1:hover{
    color: brown;
    background-color: rgb(26, 18, 235);
}
.b2:hover{
    color: blue;
    background-color: rgb(240, 255, 253);
}
.b3:hover{
    color: green;
    background-color: yellow;
}
.b4:hover{
    color:green;
    background-color: purple;
}
body{
    padding: 0%;
    margin: 0%;
    background-color: bisque;
}
h1{
    text-align: center;
    /* background-color: aqua; */
}
p{
    color: white;
    background-color: black;
}
header{
    background-color: rgba(0, 0, 255, 0.508);
}
footer{
    background-color: purple;
}
table{
    background-color: aqua;
}
nav{
    color: red;
}

